.about {
    margin-top: 4rem;
    &__display-flex {
        display: flex;
        flex-direction: column; // mobile
        align-items: center;
        padding: 0 2rem;
    }

    &__portrait {
        animation: slow-appear 2s ease .2s;
        animation-fill-mode: forwards;
        transition: opacity .4s;
        opacity: 0;
    }

    &__img {
        border-radius: 50%;
        width: 30rem;
        margin-bottom: 1rem;
    }

    &__description {
        //padding-left: 4rem;
    }

    &__headline {
        margin-bottom: 2rem;
    }

    &__paragraph {
        line-height: 150%;
        transform: translateY(3rem);
        transition: all .4s;
        opacity: 0;

        &--1 {
            animation: show-paragraph 2s cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
        }

        &--2 {
            animation: show-paragraph 2s cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
        }

        &--3 {
            animation: show-paragraph 2s cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
        }

        &--1,
        &--2,
        &--3 {
            animation-fill-mode: forwards;
        }
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__skills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        animation: slow-appear 2s ease 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    &__skill {
        background: $first-color;
        color: #fff;
        padding: .8rem 2rem;
        margin-bottom: 1rem;
    }

    &__skill:not(:first-child) {
        margin-left: .1rem;
    }

    &__skill:not(::last-child) {
        margin-right: .1rem;
    }
}

@keyframes slow-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-paragraph {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: $smallest-desktop) {
    .about { margin-top: 8rem; }
    .about__display-flex { flex-direction: row; }
    .about__img { 
        width: 34rem; 
        margin-bottom: 0;
    }
    .about__description { padding-left: 4rem; }
}

@media (min-width: $middle-desktop) {
    .about__img { width: 38rem; }
}

@media (min-width: $desktop) {
    .about__display-flex { padding: 0; }
    .about__img { width: 40rem;}
}