.contact {
    border-top: .1rem solid $second-color;

    &__dashboard {
        animation: rotate-dashboard .6s ease-in-out 1s;
        animation-fill-mode: forwards;
        background: #fff;
        width: 22rem;
        margin: 0 auto;
        padding: 1rem 0;
        border: .1rem solid $second-color;
        border-radius: 50rem;
        text-align: center;
        transform: translateY(-50%) rotateX(-90deg);
        transition: transform .4s;
    }

    &__link {
        height: 100%;
    }

    &__icon {
        fill: $first-color;
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 1.2rem;
        transition: all 1s;
    }

    &__icon:hover {
        animation: bounce .5s;
        fill: #000;
    }
}

@keyframes rotate-dashboard {
    0% {
        transform: translateY(-50%) rotateX(-90deg);
    }

    100% {
        transform: translateY(-50%) rotateX(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0rem);
    }

    25% {
        transform: translateY(-.4rem);
    }

    50% {
        transform: translateY(0rem);
    }

    75% {
        transform: translateY(-.2rem)
    }

    100% {
        transform: translateY(0rem);
    }
}