.footer {
    //border-top: .1rem solid $second-color;
    width: 100%;
    height: 10rem;
    text-align: center;
    padding: 4.5rem 0; 

    &__copyright {
        color: #c1c1c1;
        font-size: 1.2rem;
    }

    &__author {
        color: $first-color;
    }
}