.header {
    //background: #cecece;
    padding: 8.5rem 0;
    position: relative;
    text-align: center;
    &__headline {
        font-family: 'Poppins', sans-serif;
        font-size: 8.5rem;
        font-weight: 100;
        letter-spacing: 120%;
        text-transform: uppercase;
        //z-index: 100;
    }

    p {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
}