.nav {
    position: relative;

    &__item {
        padding: 2.5rem 0;
        position: relative;
    }

    &__item:last-child {
        margin-left: 2rem;
    }

    &__item::after,
    .selected-about::after {
        content: '';
        display: block;
        background: #34495e;
        //width: 0%;
        height: .2rem;
        position: absolute;
        left: 0;
        bottom: 1rem;
        transition: width .2s ease;
        margin: 0;
    }

    &__item::after {
        width: 0%;
    }

    .selected-about::after {
        width: 100%;
    }

    &__item:hover::after {
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: #34495e;
        text-decoration: none;
    }
}
// this class is for row div 
.nav-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
// this class is for react router nav link
.selected-home {
    display: none;
}

