.projects {
    padding: 2.5rem 0 0 0;

    &__display-flex {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 35rem;
        box-shadow: 0px 10px 20px 0px rgba($second-color, .75);
        flex-basis: 20rem;
        transform: translate(0, 0) scale(1);
        transition: all .4s ease;
        position: relative;
        opacity: 0;
    }

    &__item:not(:last-child) {
        margin-bottom: 7rem;
    }

    &__item:last-child {
        margin-bottom: 4rem;
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .4s ease;
    }

    &__img {
        display: inline-block;
        border-radius: .5rem .5rem 0 0;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all .4s ease;
    }
}

.project {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -5rem;
    width: 100%;
    color: #fff;
    
    &__option {
        font-size: 1.6rem;
        width: 50%;
        height: 5rem;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
    }

    &__option:first-child {
        border-bottom-left-radius: .5rem;
    }

    &__option:last-child {
        border-bottom-right-radius: .5rem;
    }

    &__link {
        border: 1px solid $first-color; // mobile only
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        padding: 1.5rem 0;
        background: $first-color;
    }

    &__icon {
        fill: #fff;
        width: 2.2rem;
        height: 2.2rem;
        margin-left: 1rem;
        vertical-align: middle;
        transform: translateY(-.2rem);
    }
    
    &__link:active {
        background: #fff;
        color: $first-color;
    }

    &__link:active &__icon {
        fill: $first-color;
    }
    
}

@keyframes show-project {
    0% {
        opacity: 0;
        transform: translate(0, 50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (min-width: $large-phone) {
    .projects__item {
        width: 52.5rem;
        flex-basis: 30rem;
    }
}

@media (min-width: $small-desktop) {
    .projects__display-flex {
        display: grid;
        grid-template-columns: repeat(3, 28rem);
        justify-content: space-between;
        padding: 0 .5rem;
    }

    .projects__content {
        position: unset;
        width: auto;
        height: 16rem;
    }

    .projects__item { 
        flex-basis: 28rem;
        margin: 0 !important;
        margin-bottom: 2.5rem !important;
        width: 100%;
    }

    .projects__img {
        border-radius: .5rem;
        position: unset;
        height: 16rem;
    }

    .projects__content:hover {
        box-shadow: 0px 8px 14px 0px rgba($second-color, 1);
        transform: translate(0, 0) scale(1.06);
    }

    .projects__content:hover .projects__img {
        filter: blur(.12rem);
    }

    .projects__content:hover .project {
        opacity: 1;
    }

    .project {
        flex-direction: column;
        top: 0;
        left: 0;
        height: 16rem;
        opacity: 0;
        transition: opacity .5s ease;
    }

    .project__option {
        width: 20rem;
        margin: 0 auto;
    }

    .project__option:not(:last-child) {
        margin-bottom: .5rem;
    }

    .project__option:first-child {
        border-bottom-left-radius: 0;
    }

    .project__option:last-child {
        border-bottom-right-radius: 0;
    }

    .project__link {
        border: none;
        background: #fff;
        background: linear-gradient(to right, $first-color 50%, #fff 50%);
        background-size: 200%;
        transition: all .5s ease;
        transform: scale(1);
    }

    .project__icon {
        transition: all .5s ease;
    }

    .project__link:hover,
    .project__link:active {
        background-position: 100%;
        color: $first-color;  
    }

    .project__link:hover .project__icon,
    .project__link:active .project__icon {
        fill: $first-color;
    }
}

@media (min-width: $middle-desktop) {
    .projects__display-flex {
        grid-template-columns: repeat(3, 31.5rem);
        padding: 0 2rem;
    }
    .projects__content {
        width: 100%;
        height: 18rem;
    }
    .projects__item { 
        flex-basis: 31.5rem;
    }
    .projects__img { 
        height: 18rem;
    }

    .project {
        height: 18rem;
    }
}

@media (min-width: $desktop) {
    .projects__display-flex { 
        grid-template-columns: repeat(3, 35rem);
        padding: 0;
    }
    .projects__content {
        height: 20rem;
    }
    .projects__item { 
        flex-basis: 35rem;
    }

    .projects__img { 
        height: 20rem;
    }

    .project {
        height: 20rem;
    }
}