.projects {
    padding: 2.5rem 0 0 0;

    &__display-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        //box-shadow: 0px 4px 14px 0px rgba($second-color, 1);
        //border-radius: .5rem;
        box-shadow: 0px 10px 20px 0px rgba($second-color, .75);
        flex-basis: 56rem;
        //overflow: hidden;
        transform: translate(0, 0) scale(1);
        transition: all .4s ease;
        position: relative;
        opacity: 0;
    }

    &__item--1 {
        animation: show-project 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
    }
    
    &__item--2 {
        animation: show-project 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) .7s;
    }

    &__item--3 {
        animation: show-project 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) .8s;
    }

    &__item--1,
    &__item--2,
    &__item--3 {
        animation-fill-mode: forwards;
    }

    &__content {
        border-radius: .5rem;
        transition: all .4s ease;
        overflow: hidden;
    }
    
    &__content:hover {
        box-shadow: 0px 8px 14px 0px rgba($second-color, 1);
        transform: translate(0, 0) scale(1.06);
    }

    &__content:hover .projects__img {
        filter: blur(.12rem);
    }

    &__content:hover .project {
        opacity: 1;
    }

    &__img {
        background-size: cover;
        height: 32rem;
        transition: all .4s ease;

        &--1 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-3.png);
        }

        &--2 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-2.png);
        }

        &--3 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-1.png);
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity .5s ease;
    
    &__option {
        font-size: 2rem;
        width: 20rem;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }

    &__option:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        padding: 1.5rem 0;
        background: #fff;
        background: linear-gradient(to right, $first-color 50%, #fff 50%);
        background-size: 200%;
        transition: all .5s ease;
        transform: scale(1);
    }

    &__link:hover {
        background-position: 100%;
        color: $first-color;
        //transform: scale(1.05);
    }
    
    
}

@keyframes show-project {
    0% {
        opacity: 0;
        transform: translate(0, 50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (min-width: $middle-desktop) {
    .projects__display-flex { justify-content: space-around; }
    .projects__item { flex-basis: 35rem; }
    .projects__img { height: 20rem; }
}

@media (min-width: $desktop) {
    .projects__display-flex { justify-content: space-between; }
}