.projects {
    padding: 2.5rem 0 8.5rem 0;

    &__display-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        //box-shadow: 0px 4px 14px 0px rgba($second-color, 1);
        border-radius: .5rem;
        box-shadow: 0px 10px 20px 0px rgba($second-color, .75);
        flex-basis: 35rem;
        overflow: hidden;
        transition: all .4s ease;
        position: relative;
    }
    
    &__item:hover {
        box-shadow: 0px 8px 14px 0px rgba($second-color, 1);
        transform: scale(1.1);
    }

    &__item:hover .projects__img {
        filter: blur(.12rem);
    }

    &__item:hover .project {
        opacity: 1;
    }

    &__img {
        background-size: cover;
        height: 20rem;
        transition: all .4s ease;

        &--1 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-3.png);
        }

        &--2 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-2.png);
        }

        &--3 {
            background-image: linear-gradient(rgba($first-color, .2), rgba($first-color, .4)), url(./images/project-1.png);
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity .5s ease;
    
    &__option {
        font-size: 2rem;
        width: 20rem;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }

    &__option:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        padding: 1.5rem 0;
        background: #fff;
        background: linear-gradient(to right, $first-color 50%, #fff 50%);
        background-size: 200%;
        transition: all .5s ease;
        transform: scale(1);
    }

    &__link:hover {
        background-position: 100%;
        color: $first-color;
        //transform: scale(1.05);
    }
    
    
}