*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0;
}